train_log/SD2/reward_10x5+mix.txt
train_log/SD2/reward_15x10+mix.txt
train_log/SD2/reward_20x5+mix.txt
train_log/SD2/reward_20x10+mix.txt
train_log/SD2/reward_dynamic_PPO.txt
train_log/SD2/valiquality_10x5+mix.txt
train_log/SD2/valiquality_15x10+mix.txt
train_log/SD2/valiquality_20x5+mix.txt
train_log/SD2/valiquality_20x10+mix.txt
train_log/SD2/valiquality_dynamic_PPO.txt
trained_network/SD2/10x5+mix.pth
trained_network/SD2/dynamic_PPO_dynamic_final.pth
trained_network/SD2/dynamic_PPO_dynamic.pth
*.txt
*.fjs
 __pycache__/
*.png
*.csv
__pycache__/common_utils.cpython-39.pyc
__pycache__/data_utils.cpython-39.pyc
__pycache__/dynamic_fjsp_env.cpython-39.pyc
__pycache__/event_gate_env.cpython-39.pyc
__pycache__/fjsp_env_same_op_nums.cpython-39.pyc
__pycache__/fjsp_env_various_op_nums.cpython-39.pyc
__pycache__/FJSPEnvForVariousOpNums.cpython-39.pyc
__pycache__/gantt.cpython-39.pyc
__pycache__/global_env.cpython-39.pyc
__pycache__/params.cpython-39.pyc
__pycache__/PPO_dynamic_wrapper.cpython-39.pyc
__pycache__/PPO_orchestrator_adapter.cpython-39.pyc
*.xlsx
*.npy
model/__pycache__/attention_layer.cpython-36.pyc
model/__pycache__/attention_layer.cpython-39.pyc
model/__pycache__/main_model_dynamic.cpython-39.pyc
model/__pycache__/main_model.cpython-36.pyc
model/__pycache__/main_model.cpython-39.pyc
model/__pycache__/PPO_dynamic.cpython-39.pyc
model/__pycache__/PPO.cpython-36.pyc
model/__pycache__/PPO.cpython-39.pyc
model/__pycache__/sub_layers.cpython-36.pyc
model/__pycache__/sub_layers.cpython-39.pyc
temp/ddqn_gate_delta_makespan_300ep100.pth
temp/ddqn_gate_delta_makespan_avg_True_True_100.pth
temp/ddqn_gate_delta_makespan_avg_True_True_1000.pth
temp/ddqn_gate_delta_makespan_False_True_100.pth
temp/ddqn_gate_delta_makespan_True_False_100.pth
temp/ddqn_gate_delta_makespan_True_True_100.pth
temp/ddqn_gate_delta_makespan_True_True_1000.pth
temp/ddqn_gate_pure_True_True_100.pth
temp/ddqn_gate_pure_True_True_1000.pth
configs/ddqn/ddqn_augmented.yml
configs/ddqn/ddqn_pure.yml
configs/ddqn/ddqn_sparse.yml
data/BenchData/Test Instances for the Flexible Job Shop Scheduling Problem with Work Centers.pdf
ddqn_ckpt/ddqn_gate_delta_makespan_500ep100.pth
ddqn_ckpt/ddqn_gate_delta_makespan_avg100_dynamic.pth
ddqn_ckpt/ddqn_gate_delta_makespan_avg100.pth
ddqn_ckpt/ddqn_gate_delta_makespan100_dynamic.pth
ddqn_ckpt/ddqn_gate_delta_makespan100.pth
*.pth
